<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <UI>
      <Dialog Id="FirewallDlg" Width="370" Height="270" Title="[ProductName] Firewall">
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="&amp;Next >">
          <Publish Event="NewDialog" Value="SummaryDlg">1</Publish>
        </Control>
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="&lt; &amp;Back">
          <Publish Event="NewDialog" Value="ConfigDlg">1</Publish>
        </Control>
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="Cancel">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
        <Control Id="BannerLine" Type="Line" X="0" Y="0" Width="370" Height="0" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="Configure Windows Firewall" />
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="{\WixUI_Font_Bigger}Firewall Configuration" />
        
        <Control Id="FirewallCheckbox" Type="CheckBox" X="20" Y="60" Width="330" Height="18" Property="CONFIG_CREATEFIREWALL" Text="Create Windows Firewall inbound rule for Openctrol Agent port" CheckBoxValue="1" />
        <Control Id="FirewallHelp" Type="Text" X="20" Y="85" Width="330" Height="60" Text="This will create a firewall rule allowing inbound TCP connections on the configured port. If unchecked, you will need to manually configure the firewall." />
      </Dialog>
    </UI>
  </Fragment>
</Wix>

